@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
}

header{
    width: 100%;
    height: 200px;
    background-color: #AC070F;
    text-align: center;
    position: fixed;
    top: 0;
    z-index: 1;
}

    
nav {
      font-family: 'Poppins';
      position: absolute;
      bottom: 0;
      height: 60px;
      line-height: 60px;
      width: 100%;
      background-color: rgba(0,0,0,.1);
}

nav > a{
        color: #fff;
        display: inline-block;
        padding: 10px 15px;
        line-height: 1;
        text-decoration: none;

}

.titulo {
    padding: 35px;
    text-align: center;
    margin: auto;
    color: #ffff;
    font-size: 3em;
    line-height: 10px;
    text-transform: uppercase;
    font-family: 'Poppins';
    font-weight: 500;
    font-style: italic;
}

.tema {
    text-align: center;
    align-items: center;
    justify-content: space-between;
}

.imagem-botao {
    padding: 10px;
    width: 40px;
}

#botao-alterar-tema {
    background: none;
    border: none;
}

.checkbox {
    opacity: 0;
    position: absolute;
}

.label {
    background-color: #292929;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

body {
    background-color: #141414;
    color: whitesmoke;
    transition: background 0.2s linear;

}

body.light {
    background-color: white;
}

main {
    margin-top: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    font-family: 'Poppins';
    font-weight: 500;
    font-style: italic;
    text-align: center;
}

.form-wrapper {
    display: flex;
    justify-content: space-around;
}

form.principal {
    width: 150px;
    overflow: hidden;
    font-family: 'Poppins';
    margin: 20px 0;
    background-color: #292929;
    padding: 30px 25px;
    border-radius: 5px;
    margin-bottom: 50px;


}
  
form .input-block{
    margin-bottom: 20px;
}
  
form .input-block label {
    font-size: 1.10em;
    color: whitesmoke;
}
  
  form .input-block input, #ideia  {

    font-family: 'Poppins';
    width: 100%;
    display: block;
    margin-top: 8px;
    padding: 7px;
    font-size: 16px;
    color: white;
    background-color: #292929;
    border-radius: 2px;
    border: 1px solid whitesmoke;
    outline-color: #9A060D;
  }
  
  form .btn-login {
    font-family: 'Poppins';
    display: block;
    min-width: 120px;
    border: none;
    background-color: #9A060D;
    color: whitesmoke;
    border-radius: 25px;
    margin: auto;
    padding: 7px;
  }

form.principal {
    animation-name: fade;
    animation-duration: 700ms;
}

@keyframes fade {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}  

.input-block:nth-child(1) {
    animation-name: move;
    animation-duration: 800ms;

}

.input-block:nth-child(2) {
    animation-name: move;
    animation-duration: 800ms;
    animation-delay: 300ms;
    animation-fill-mode: backwards;
}

.input-block:nth-child(3) {
    animation-name: move;
    animation-duration: 800ms;
    animation-delay: 500ms;
    animation-fill-mode: backwards;
}

.btn-login {
    animation-name: move;
    animation-duration: 800ms;
    animation-delay: 900ms;
    animation-fill-mode: backwards;
}

@keyframes move {
    from {
        opacity: 0;
        transform: translateX(-10%);
    }
    to {
        opacity: 1;
        transform: translateX(0%);
    }
} 


footer {
    background-color: #AC070F;
    padding: 50px 0;
    font-family: 'Poppins';

}

.container-footer {
    max-width: 1400px;
    padding: 0 4%;
    margin: auto;
}

.row-footer {
    display: flex;
    flex-wrap: wrap;
}

.footer-col {
    width: 25%;
    padding: 0 15px;
    text-align: left;
}

.footer-col h4 {
    font-size: 22px;
    font-family: 'Poppins';
    font-weight: 500;
    font-style: italic;
    color: white;
    margin-bottom: 20px;
    font-weight: 500;
    position: relative;
    text-transform: uppercase;
}

.footer-col ul {
    list-style: none;
    flex-wrap: nowrap;
    display: block;
    line-height: 10px;
}

.footer-col ul li {
    margin: 10px 0;
    flex-wrap: nowrap;
    display: block;
}

.footer-col ul li a {
    line-height: 15px;
    font-size: 16px;
    text-transform: capitalize;
    color: white;
    text-decoration: none;
    font-weight: 300;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    color: #cecdcd;
    padding-left: 10px;
}

.footer-col .medias-socias {
    margin-top: 30px;
}

.footer-col .medias-socias a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    margin: 0 10px 10px 0;
    text-decoration: none;
    border-radius: 50%;
    color: white;
    border: 1px solid white;
    transition: all 0.5s ease;
}

.footer-col .medias-socias a i {
    font-size: 20px;
}

.footer-col .medias-socias a:hover {
    color: #AC070F;
    background-color: white;
}

.footer-col .form-sub input {
    width: 377px;
    padding: 10px;
    font-size: 15px;
    outline: none;
    border: 1px solid white;
    color: white;
    background-color: #AC070F;
}

.footer-col .form-sub input::placeholder {
    color: white;
}

.footer-col .form-sub button {
    width: 400px;
    margin-top: 10px;
    padding: 10px; 
    font-size: 17px;
    outline: none;
    border: none;
    cursor: pointer;
    color: #AC070F;
    border-radius: 3px;
    font-weight: bold;
    background-color: white;        
}

.img-f{
    width: 20px;
    filter: invert(100%);
}

@media (max-width: 500px) {
    .footer-col .form-sub button{
        width: 200px;
    }

    .footer-col .form-sub input{
        width: 181px;
    }


    nav > a {
        padding: 5px 4px;
    }

    .titulo {
        font-size: 2.3rem;
    }

    h1{
        font-size: 2rem;
    }


}

@media (max-width: 800px) {
    .footer-col{
        width: 50%;
        margin-bottom: 30px;
    }
}
@media (max-width:600px) {
    .footer-col{
        width: 100%;
    }
}

@media (min-width: 748px) {
    
    .back {
        background-image: linear-gradient(to bottom, black, #141414);
        height: 330px;

    }

    .titulo {
        padding: 30px;
        margin: auto;
        font-size: 4em;

    }

    
    form.principal {
        width: 250px;
    }
}