@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

header {
    background-color: #AAAAAA;
    justify-content: space-around;
    align-items: center;
}

.foto {
    align-items: center;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#foto {
    width: 200px;
    border-radius: 50%;
    padding: 20px;
}

.nome {
    line-height: 20px;
}

#nome {
    text-align: center;
    font-family: 'Prompt', sans-serif;
    text-transform: uppercase;
    font-size: 2rem;
}

#sobrenome {
    text-align: center;
    font-family: 'Mr Dafoe', cursive;
    font-size: 2rem;
}

#profi {
    font-family: 'Prompt', sans-serif;
    text-align: center;
    background-color: #585191;
    border-radius: 20px;
    width: 135px;
}